*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    color: azure;
}

main{
    background-color: aqua;
    width: 80%;
    margin: 0 auto;
}

/* BOX MODEL EN PARRAFO */

.parrafo{

    text-align: justify;
    /* padding es como lo opuesto a margin, pues acomoda
    el contenido hacia dentro */
    
    padding: 20px;

    /* padding: 20px 50px 4px 5px; ACCESO DIRCTO, 
    ES EL ORDEN DE A QUÉ LADO LO APLICA

    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 4px;
    padding-left: 5px; */



    /* border: 5px solid rgb(165, 15, 15); ACCESO DIRECTO
    TAMAÑO, TIPO DE BORDE, COLOR DEL BORDE*/
    border-top: 20px;
    border-right: 30px;
    border-bottom: 40px;
    border-left: 50px;
    border-style: groove;
    border-color: rgb(165, 15, 15);


    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 60px;
    
}

.section2{
    background-color: rgb(169, 94, 37);
    text-align: justify;
    padding: 20px;    
    border-top: 20px;
    border-right: 30px;
    border-bottom: 40px;
    border-left: 50px;
    border-style: groove;
    border-color: rgb(165, 15, 15);


    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 60px;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.div1{
    margin: 20px 20px 0px 20x;
    border-bottom: 5px dotted red;
}

.div1 p{
    margin-bottom: 20px;
    border: 5px solid rgb(94, 54, 131);
    padding: 10px;
}
.div1 img{
    border: 5px solid rgb(41, 98, 152);
    margin-bottom: 20px;
    
}

.div2{
    margin-top: 20px;s
}

.div2 p{
    margin-bottom: 20px;
    border: 5px solid rgb(94, 54, 131);
    padding: 10px;
}
.div2 img{
    border: 5px solid rgb(41, 98, 152);
}

.imagen {
    text-align: center;
}